# OS
.DS_Store
Thumbs.db

# Env
.env

# Java
backend/target/
*.log

# Node
frontend/node_modules/
frontend/build/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/

# Model artifacts
ml-service/model/*.pkl
!ml-service/model/.gitkeep
